.page-content {
background-color: #fff;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
color: black;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
overflow: auto;
-webkit-overflow-scrolling: touch;
--f7-list-link-pressed-bg-color: #fff;
} 
.tabbar-label {
font-size: 12px;
} 
.item-title-row{
color: black;
}
